<?php

$slack_signing_secret = "";
$bot_token = "";

$dbuser = "";
$dbpass = "";
$database = "";
$table = ""

/*
Table schema: (`id` VARCHAR(255) PRIMARY KEY, `balance` FLOAT NOT NULL DEFAULT 0, `cooldown` INT NOT NULL DEFAULT 0)
*/
?>